
    body, html {
 height: 110%;
 background-image: url("./images/bluebackground.jpg");
 background-color: #cccccc; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
}
    
/* home page */

/* .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bluebackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
} */

.aboutMeImg {
    border-radius: 50%;
    height: 30%;
    width: 40%;
    align-content: center;
    margin: 4%;
}

#serviceBtn{
    height: 60px;
    width:120px;
    font-family: inherit;
    font-size: 20px;
    margin-top: 2%;
    font-weight: bold;
    background: #ebf4f1;
    border-radius: 8px;
    
}

.hero-text {
    text-align: center;
    margin: 18%;
    /* position: absolute; */
    /* top: 30%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: black;
}

.navbar-nav{
   margin-left: 80%; 
    text-align: left;
}

h1{
    text-align: center;
    margin-top: 2%; 
    font-family: inherit;
    font-size: 54px;
    font-weight: bold;
}

h2{
    text-align: center;
    margin-top: 2%;
    font-family: inherit;
    font-weight: bold;
}

/* about me */

.hero-image-aboutMe{
    
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bluebackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}

.jumbotron{
    /* background-color: white;
    opacity: 0.6;
    padding: 50px;
    height: 40%;
    margin-top: 55%;
    width: 60%;
    margin-left: 22%; */
    background-color: white;
    opacity: 0.8;
    padding: 50px;
    height: 40%;
    margin-left: 20%;
    margin-top: 8%;
    align-content: center;
    width: 60%;
    
}
.hero-text-aboutMe {
    text-align: center;
    /* position: absolute; */
    top: 30%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: black;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  /* .jumbotron {
    height: 300px;
    width: 100px;
   padding: 5px;
   text-align: center;
   margin: 2%;
  } */

  .display-4{
    font-size: 34px;

  }
  /* .lead{
      font-size: 20px;
   
  } */
}

@media screen and (max-width: 992px) {
    .jumbotron {
        height: 300px;
        width: 600px;
       padding: 5px;
       text-align: center;
       margin: 4%;
       margin-right: 50px; 
    }
  }
/* contact page */


.hero-image-contactMe{
    
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bluebackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

}




.hero-text-contactMe {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: black;
}

.contactJumbotron{
    /* background-color: white;
    opacity: 0.6;
    height: 100%;
    margin-top: 55%;
    width: 100%; */
    
    background-color: white;
    opacity: 0.8;
    padding: 50px;
    height: 40%;
    margin-left: 20%;
    margin-top: 8%;
    align-content: center;
    width: 60%;
    
}

/* services page */

p{
    font-weight: bold;
    margin-top: 4%;
    font-size: 20px;
}